/* You can add global styles to this file, and also import other style file*/
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #52796f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
} 
html,body{
    hight: 100%;
    margin: 0;
}
