/* You can add global styles to this file, and also import other style file*/
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #52796f;
    
} 
