<h1 id="titulo">VideoJuegos</h1>
<!--TARJETA -->
<!-- <div class="container">
    <div class="container text-center">
        <div class="row g-2">
            <div *ngFor="let i of infoJuegos" class="col-4">
                <div class="p-6">
                    <img src="{{ i.img }}" class="card-image-top" alt="{{ i.alt }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.nombre }}</h5>
                        <p class="card-text">{{ i.descripcion }}</p>
                        <button type="button" class="btn btn-action" data-bs-toggle="modal" data-bs-target="#verMasInfo"
                            (click)="verMas(i)">Ver mas</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="fondo">
    @for (p of Productos ; track p.id){
    @if(p.disponibilidad){
    <div class="card" style="width: 18rem;">
        <div class="p-6">
            <img src="{{ p.img }}" class="card-image-top" alt="{{ p.alt }}">
            <div class="card-body">
                <h5 class="card-title">{{ p.nombre }}</h5>
                <p class="card-text">{{ p.descripcion }}</p>
                <button type="button" class="btn btn-action" data-bs-toggle="modal">Ver mas</button>

            </div>
        </div>
    </div>
    }
    }

</div>