<!--TARJETA -->
<!-- <div class="container">
    <div class="container text-center">
        <div class="row g-2">
            <div *ngFor="let i of infoJuegos" class="col-4">
                <div class="p-6">
                    <img src="{{ i.img }}" class="card-image-top" alt="{{ i.alt }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.nombre }}</h5>
                        <p class="card-text">{{ i.descripcion }}</p>
                        <button type="button" class="btn btn-action" data-bs-toggle="modal" data-bs-target="#verMasInfo"
                            (click)="verMas(i)">Ver mas</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<h1 id="titulo">VideoJuegos</h1>
<div class="fondo">

    @for (p of Productos ; track p.id){
    @if(p.disponibilidad){
    <div class="card" style="width: 18rem;">
        <div class="p-6">
            <img src="{{ p.img }}" class="card-image-top" alt="{{ p.alt }}">
            <div class="card-body">
                <h5 class="card-title">{{ p.nombre }}</h5>
                <p class="card-text">${{ p.precio }}</p>
                <button type="button" class="btn btn-action" data-bs-toggle="modal"
                    [attr.data-bs-target]="'#modal' + p.id">Ver mas</button>
                <!-- @if(p.favorito){
                <button type="button" class="btn btn-action" data-bs-toggle="modal" (click)="quitarFavoritos(p)"><i
                        class="bi bi-heart-fill"></i> Quitar de Favoritos</button>
                }@else{
                <button type="button" class="btn btn-action" data-bs-toggle="modal" (click)="agregarFavoritos(p)"><i
                        class="bi bi-heart"></i> Añadir a Favoritos</button>
                } -->
                <button type="button" class="btn btn-action" data-bs-toggle="modal" (click)="agregarFavoritos(p)"><i
                        class="bi bi-heart"></i> Añadir a Favoritos</button>
                <button type="button" class="btn btn-action" data-bs-toggle="modal" (click)="agregarAcarrito(p)"><i
                        class="bi bi-cart-plus"></i> Agregar al carrito</button>
            </div>
        </div>
    </div>



    <div class="modal fade" id="modal{{p.id}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title">{{p.nombre}}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="modal-imagen">
                        <img src="{{p.img}}" alt="{{p.alt}}" class="img-modal">
                    </div>
                    <div class="modal-info">
                        <span class="badge-genero">
                            {{p.genero}}
                        </span>
                        <p class="modal-descripcion">
                            {{p.descripcion}}
                        </p>
                        <div class="modal-precio">
                            ${{p.precio}}
                        </div>
                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>

                    <button type="button" class="btn btn-action" (click)="agregarAcarrito(p)">
                        <i class="bi bi-cart-plus"></i>
                        Agregar al carrito
                    </button>
                </div>

            </div>
        </div>
    </div>
    }
    }

</div>